{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
<style>

    .task{
        margin-left: 500px;
        margin-right: 600px;
    }

</style>
{% endblock meta %}
    
{% block content %}  

<div class = "task">
    
    <h1 style="text-align:center">Create Task</h1>  
        <div style="text-align:center"> 

            <form method="POST" >  
                {% csrf_token %}  
                
                <table class="table table-red">  
                    {{ form.as_table }}  
                    <tr>  
                        <td></td>
                        <td > <input class="btn btn-outline-danger" type="submit" name="submit" value="Tambah task"/></td>  
                    </tr>  
                </table>  
            </form>
        </div>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}