{% extends 'base.html' %}


{% block meta %}

<title>Create Task</title>

<style>
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(245, 63, 63, 0.12), 0 4px 8px rgba(255, 76, 76, 0.06);
    opacity: 0.666;
}
.row{
    margin-left: 55px;
    margin-right: 55px;
}


</style>

{% endblock meta %}

{% block content %}
<h1 style="text-align:center">Create Task</h1>

<h5 style="text-align:center">Username: </h5>
<p style="text-align:center">{{user}}</p>

<div class="row">
    {% for task in list_data_task %}
    <div class="col-4">
            <div class="card text-white bg-danger mb-3" >
                <div class="card-header">{{task.date}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.deskripsi}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h5 style="text-align:center">Sesi terakhir login: {{ last_login }}</h5>
    
    <div class="button" style="text-align:center">
        <a href="{% url 'todolist:create_task' %}"><button class="btn btn-outline-danger">Tambah Task Baru</button></a>
        <a href="{% url 'todolist:logout' %}"><button class="btn btn-outline-danger">Logout</button></a>
    
    </div>
{% endblock content %}